// ブレイクポイント
$pc: 1040px;
$tab: 1039px;
$sp: 699px;
// @mediaのフォーマット
@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: $tab) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

// -----------------------------------------
// プロジェクト共通...
// -----------------------------------------
._project{
  background-color: rgba(29, 148, 92, 0.8);
  padding: 0 0 24px;
  width: 100%;
  min-height: calc(100vh - 164px);
  @include sp{
    min-height: calc(100vh - 134px);
  }
  &._form{
    padding: 0 0 40px;
  }
  .ttl{
    position: relative;
    width: 94%;
    min-width: 1000px;
    margin: 0 auto;
    h3{
      padding: 32px 0 28px;
      font-size: 3.0rem;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      line-height: 1.2;
      max-width: calc(100% - 420px);
      margin: 0 auto;
    }
    h4{
      padding: 28px 0 24px;
      font-size: 2.8rem;
      font-weight: bold;
      text-align: center;
      line-height: 1;
    }
  }
  .search_box{
    background-color: rgb(252, 252, 252);
    padding: 16px 0 24px;
    @include sp {
      padding: 56px 0 0;
      .ttl{
        width: 100%;
      }
    }
  }
  @include tab {
    .ttl{
      position: relative;
      min-width: auto;
      width: 94%;
      padding: 0;
      h3{
        padding: 30px 0 24px;
        font-size: 2.6rem;
        max-width: calc(100% - 200px);
        margin: 0 auto;
      }
      h4{
        font-size: 2.8rem;
      }
      .link_edit{
        top: 24px;
      }
    }
  }
  @include sp {
    .ttl{
      width: 94%;
      h3{
        padding: 60px 0 16px;
        font-size: 2.0rem;
        max-width: 96%;
      }
      h4{
        padding: 48px 0 16px;
        font-size: 2.0rem;
      }
      .link_edit{
        top: 14px;
      }
    }
  }
}
.link_new{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: linear-gradient(to right, #1d945d, #1d945d);
  background-repeat: no-repeat;
  background-size: 0;
  display: block;
  width: 200px;
  padding: 12px 0;
  text-align: center;
  border: 2px solid #1d945d;
  border-radius: 30px;
  color: #1d945d;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1;
  transition: 0.3s;
  &:hover{
    background-size: 100%;
    color: #fff;
  }
  @include tab {
    top: 58%;
    width: 24%;
    max-width: 180px;
    padding: 12px 0;
    font-size: 1.5rem;
  }
  @include sp {
    top: -48px;
    width: 64%;
    max-width: none;
    padding: 10px 0;
    right: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.link_edit{
  &.project_btn{
    @include sp{
      top: 18px;
    }
  }
}
.edit_btn{
  background-color: rgba(255, 255, 255, 0.8);
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(86, 86, 86, 0.4);
  z-index: 4;
  span{
    background-color: #555;
    width: 4px;
    height: 4px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &:nth-child(1){
      top: 26%;
    }
    &:nth-child(2){
      top: 46%;
    }
    &:nth-child(3){
      top: 66%;
    }
  }
}
#edit_btn_check:checked ~ .edit_links{
  display: flex;
}
.edit_links{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 18%;
  max-width: 280px;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
    width: 49%;
    a{
      display: block;
      background-image: linear-gradient(to right, #777, #777);
      background-repeat: no-repeat;
      background-size: 0;
      padding: 4px;
      border: 2px solid #777;
      border-radius: 20px;
      color: #555;
      font-size: 1.4rem;
      text-align: center;
      transition: 0.3s;
      &:hover{
        background-size: 100%;
        color: #fff;
      }
      &.project_btn{
        background-image: linear-gradient(to right, #fff, #fff);
        border: 2px solid #fff;
        color: #fff;
        &:hover{
          background-size: 100%;
          color: #1d945d;
        }
      }
    }
  }
  @include tab {
    top: 0;
    right: 44px;
    transform: translateY(0);
    width: 104px;
    flex-direction: column-reverse;
    z-index: 5;
    li{
      width: 100%;
      margin: 0 0 6px;
      a{
        background-image: none;
        background-color: #bdead3;
        padding: 8px 0;
        border-radius: 8px;
        color: #333;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        &:hover{
          opacity: 0.6;
          color: #333;
        }
      }
      &:first-child{
        a{
          background-color: #d8b2b2;
        }
      }
    }
  }
  @include sp {
    right: 2%;
    top: 40px;
  }
}
// -----------------------------------------
// 一覧画面
// -----------------------------------------
.project_all{
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 24px 0;
  .project_phase_list{
    display: none;
    width: 100%;
    @include tab {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 720px;
      margin: 0 auto 24px;
      .phase_btn{
        width: 24%;
        text-align: center;
        border: 2px solid #d1e6dd;
        border-radius: 36px;
        padding: 8px 0;
        color: #eaf8f2;
        font-size: 1.4rem;
        font-weight: bold;
        &.-active{
          background-color: #00c66a;
        }
      }
    }
    @include sp {
      justify-content: space-evenly;
      .phase_btn{
        width: auto;
        border: 1.5px solid #d1e6dd;
        margin: 0 0.4%;
        padding: 6px calc(0.4px + 4.6vw);
        font-size: calc(4px + 2.6vw);
      }
    }
  }
  .project_box{
    background-color: rgba(255, 255, 255, 0.9);
    width: 24.4%;
    margin-right: 12px;
    padding: 14px;
    border-radius: 8px;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    position: relative;
    @include tab {
      width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
      &.-active{
        display: block !important;
      }
    }
    &:last-child{
      margin-right: 0;
    }
    h4{
      color: #000;
      font-size: 2.0rem;
      line-height: 22px;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        display: inline-block;
        background-color: #1d945d;
        margin-left: 4px;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        color: #fff;
        font-size: 1.2rem;
        line-height: 22px;
        text-align: center;
      }
    }
    ul{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li{
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        margin: 12px 0 0;
        text-align: left;
        box-shadow: 0 0 8px rgba(110, 110, 110, 0.3);
        position: relative;
        @include tab {
          width: 49%;
        }
        @include sp {
          width: 100%;
        }
        a{
          padding: 12px;
          display: block;
          color: #555;
          .member_flag{
            position: absolute;
            bottom: 8px;
            right: 8px;
            background-color: #dc003e;
            display: inline-block;
            border-radius: 6px;
            padding: 4px 5px;
            color: #fff;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 1;
          }
          h5{
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.4;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 8px;
          }
          p{
            font-size: 1.3rem;
            line-height: 1.4;
            margin-bottom: 8px;
          }
          .project_member{
            display: flex;
            ._image{
              background: no-repeat center/contain image-url('default_profile.png');
              width: 34px;
              height: 34px;
              border-radius: 20px;
              border: 1px solid #bebebe;
              margin-right: 3px;
              position: relative;
              img{
                background-color: #fff;
                width: 32px;
                height: 32px;
                border-radius: 20px;
                object-fit: cover;
              }
              span{
                display: none;
                position: absolute;
                bottom: -20px;
                left: 0;
                padding: 0 4px;
                border: 1px solid #aaa;
                background-color: #fff;
                color: #888;
                white-space: nowrap
              }
              &:hover{
                span{
                  display: block;
                }
              }
            }
            p{
              color: #888;
              line-height: 1.0;
              font-size: 1.0rem;
              padding-top: 6px;
            }
          }
        }
      }
    }
    &._after{
      border-top: 8px solid #dc003e;
    }
    &._now{
      width: 48.6%;
      border-top: 8px solid #f0b801;
      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
          width: 49%;
          @include sp {
            width: 100%;
          }
        }
      }
      @include tab {
        width: 100%;
      }
    }
    &._before{
      border-top: 8px solid #1379d0;
    }
  }
}


// -----------------------------------------
// 新規作成画面（フォーム）
// -----------------------------------------
.return_link{
  &.project_btn{
    background-image: linear-gradient(to right, #fff, #fff);
    border: 2px solid #fff;
    color: #fff;
    &::before{
      background-color: #fff;
    }
    &::after{
      background-color: #fff;
    }
    &:hover{
      color: #1d945d;
      &::before{
        background-color: #1d945d;
      }
      &::after{
        background-color: #1d945d;
      }
    }
    @include tab {
      width: 104px;
      left: calc(-3% - 16px);
      padding-left: 24px;
      &::before,&::after{
        left: 24px;
      }
    }
    @include sp {
      top: 28px;
    }
  }
}

.project_form{
  background-color: #fff;
  border-radius: 16px;
  padding: 40px;
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
  @include tab{
    padding: 16px 40px 40px;
  }
  @include sp{
    width: 94%;
    padding: 16px 5% 32px;
  }
}
.file_upload{
  p{
    line-height: 1;
  }
  ._note{
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.3;
    color: #dc003e;
    padding-left: 1.3rem;
    text-indent: -1.3rem;
  }
}
.file_btn{
  margin: 4px 0 8px;
  p{
    width: 100%;
    color: #777;
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 4px;
  }
  @include sp {
    input[name="project[files][]"]{
      max-width: 100%;
      font-size: 1.4rem;
    }
  }
}
.flag_box{
  position: relative;
}
#flag_field {
  position: relative;
  width: 78px;
  height: 48px;
  margin: 8px 0;
  cursor: pointer;
  z-index: 0;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 85%;
    height: 25%;
    border-radius: 20px;
    display: block;
    background: #e9e9eb;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0px;
    width: 42px;
    height: 42px;
    display: block;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 3px 12px -4px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  &._checked{
    &::before{
      background-color: #00c66a;
    }
    &::after{
      left: 36px;
    }
  }
}
input[name="project[member_flag]"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 78px;
  height: 48px;
}
#check_member{
  display: flex;
  flex-wrap: wrap;
  max-height: 120px;
  overflow-y: scroll;
  .check_label{
    width: 148px;
    margin-right: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
    &:nth-child(4n){
      margin-right: 0;
    }
    label{
      font-size: 1.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row-reverse;
      cursor: pointer;
      input{
        margin: 0;
        width: 0;
        opacity: 0;
        }
      input:checked + .check_square{
        border: 2px solid #fff;
        &::before{
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 44%;
          height: 3px;
          border-radius: 2px;
          transform: translate(-2px, 1px) rotateZ(-135deg);
          transform-origin: 2px 2px;
          background: #00c66a;
        }
        &::after{
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 80%;
          height: 3px;
          border-radius: 2px;
          transform: translate(-1px, 2px) rotateZ(-45deg);
          transform-origin: 2px 2px;
          background: #00c66a;
        }
      }
      .check_square{
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 2px solid #555;
        border-radius: 4px;
        margin-right: 4px;
      }
    }
  }
}
.drop_file{
  width: 100%;
  margin-top: 4px;
  position: relative;
  &::after{
    content: '';
    background-color: rgba(199, 206, 62, 0.4);
    width: 0;
    height: 0;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &._mask{
    &::after{
      width: 100%;
      height: 100%;
    }
  }
  label{
    &.asdndzone{
      max-width: none !important;
      min-height: auto !important;
      padding: 56px 12px !important;
      font-size: 1.6rem !important;
      letter-spacing: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      overflow: hidden;
      @include sp {
        padding: 48px 8px !important;
      }
      #drop_file_text{
        font-weight: normal;
        line-height: 1.4;
        font-size: 1.4rem;
        width: 100%;
        @include sp {
          font-size: 1.2rem;
        }
      }
      input{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
      }
      #asdndz-project_files__icon-container,#asdndz-share_memo_files__icon-container{
        margin: 0;
        padding: 0;
        width: 96%;
        display: flex;
        flex-wrap: wrap;
        div{
          .direct-upload{
            position: relative;
            z-index: 3;
            height: auto !important;
            padding: 4px 8px !important;
            min-width: 116px !important;
            .direct-upload__filename{
              max-width: 160px !important;
              font-size: 1.1rem !important;
            }
            .direct-upload__filesize{
              padding-left: 4px !important;
              line-height: 16px;
            }
          }
          .direct-upload__remove{
            position: relative;
            z-index: 3;
            margin-right: 12px !important;
          }
        }
      }
    }
  }
}

// -----------------------------------------
// 詳細画面
// -----------------------------------------
._project_about{
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 80px;
  @include tab{
    width: 90%;
    padding: 16px 40px;
  }
  @include sp {
    width: 94%;
    padding: 16px 4%;
  }
  .project_date{
    position: relative;
    @include tab{
      padding-top: 44px;
    }
    p{
      font-size: 1.8rem;
      margin: 8px 0;
      span{
        display: inline-block;
        background-color: #dc003e;
        border-radius: 4px;
        padding: 2px 4px;
        width: 100px;
        color: #fff;
        font-size: 80%;
        font-weight: bold;
        text-align: center;
        margin-right: 8px;
      }
      &:nth-child(2){
        span{
          background-color: #1379d0;
        }
      }
    }
    .project_author{
      position: absolute;
      top: 4px;
      right: 8px;
      color: #888;
      p{
        font-size: 1.3rem;
        line-height: 1.6;
        margin: 0;
        text-align: right;
      }
    }
    .project_schedule{
      position: absolute;
      top: 4px;
      left: 240px;
      display: block;
      @include tab{
        top: auto;
        bottom: 2px;
      }
      p{
        background-image: linear-gradient(to right, #1d945d, #1d945d);
        background-repeat: no-repeat;
        background-size: 0;
        border: #1d945d 2px solid;
        padding: 9px 32px 9px 12px;
        margin: 0;
        border-radius: 6px;
        color: #1d945d;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1.3;
        position: relative;
        transition: 0.3s;
        &::after{
          content: '';
          background-color: #1d945d;
          position: absolute;
          top: 56%;
          right: 12px;
          width: 2px;
          height: 8px;
          transform:translateY(-50%) rotate(45deg);
        }
        &::before{
          content: '';
          background-color: #1d945d;
          position: absolute;
          top: 44%;
          right: 12px;
          width: 2px;
          height: 8px;
          transform:translateY(-50%) rotate(-45deg);
        }
        &:hover{
          background-size: 100%;
          color: #fff;
          &::after{
            background-color: #fff;
          }
          &::before{
            background-color: #fff;
          }
        }
      }
    }
    @include sp {
      padding-top: 36px;
      padding-bottom: 0;
      p{
        font-size: 1.5rem;
        margin: 4px 0;
        span{
          padding: 1px 4px;
          width: 24%;
          margin-right: 6px;
        }
      }
      .project_author{
        top: 0;
        right: 3%;
        p{
          font-size: 1.2rem;
          line-height: 1.5;
        }
      }
      .project_schedule{
        position: relative;
        bottom: auto;
        left: auto;
        margin: 6px 0 4px;
        display: inline-block;
        p{
          padding: 6px 32px 6px 12px;
          font-size: 1.3rem;
          &::after{
            top: 56%;
            right: 12px;
            width: 2px;
            height: 8px;
          }
          &::before{
            top: 44%;
            right: 12px;
            width: 2px;
            height: 8px;
          }
        }
      }
    }
  }
  .project_about{
    background-color: #eaefea;
    border-radius: 8px;
    // border-top: 1px solid #ccc;
    // border-bottom: 1px solid #ccc;
    padding: 12px 8px;
    margin: 16px 0;
    p{
      font-size: 1.5rem;
    }
    @include sp {
      padding: 10px 8px;
      margin: 12px 0;
      p{
        font-size: 1.4rem;
      }
    }
  }
  .project_file{
    display: flex;
    overflow-x: scroll;
    li{
      margin-right: 12px;
      max-width: 400px;
    }
  }
  .project_member{
    dt{
      background-image: linear-gradient(to bottom, #ddd, #ddd);
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: center;
      margin-top: 16px;
      font-size: 1.6rem;
      font-weight: bold;
      max-height: 180px;
      overflow-y: scroll;
      span{
        background-color: #fff;
        padding: 0 8px 0 0;
      }
    }
    dd{
      display: flex;
      align-items: center;
      margin: 4px 0;
      ._image{
        background: no-repeat center/contain image-url('default_profile.png');
        width: 32px;
        height: 32px;
        border-radius: 20px;
        border: 1px solid #bebebe;
        margin-right: 6px;
        position: relative;
        img{
          background-color: #fff;
          width: 30px;
          height: 30px;
          border-radius: 20px;
          object-fit: cover;
        }
      }
      a{
        color: #555;
        font-size: 1.5rem;
      }
    }
  }
  .comment_box{
    margin-top: 28px;
    padding-top: 12px;
    border-top: 4px solid #1d945d;
    position: relative;
    h3{
      font-size: 1.8rem;
      font-weight: bold;
    }
    #comment_form{
      .error-message{
        position: absolute;
        top: 15px;
        left: 120px;
      }
      .comment_inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 4px 0;
      }
      textarea{
        background-color: #f2f5f4;
        border: 1px solid #eee;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(100,100,100,0.2) inset;
        padding: 8px;
        width: calc(100% - 104px);
        height: 64px;
        font-size: 1.5rem;
      }
      .field_with_errors{
        width: 86%;
        textarea{
          width: 100%;
        }
      }
      .comment_submit{
        width: 96px;
        input{
          background-color: #1d945d;
          width: 100%;
          border: none;
          border-radius: 8px;
          padding: 8px 0;
          color: #fff;
          font-size: 1.4rem;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    .comment_list{
      margin: 20px 0 12px;
      max-height: 320px;
      overflow-y: scroll;
      li{
        background-color: #eaf3ef;
        padding: 8px 10px;
        margin: 6px 0;
        position: relative;
        .comment_user{
          display: flex;
          align-items: center;
          p{
            font-size: 1.3rem;
            span{
              margin-left: 8px;
              display: inline-block;
              font-size: 1.2rem;
              color: #777;
            }
          }
        }
        .comment_text{
          font-size: 1.5rem;
          margin-top: 4px;
        }
        .comment_edit{
          display: none;
          width: 80px;
          position: absolute;
          top: 3px;
          right: 12px;
          li{
            background-color: #888;
            border-radius: 4px;
            padding: 0;
            margin-bottom: 4px;
            a{
              display: block;
              text-align: center;
              padding: 3px 4px;
              font-size: 1.3rem;
              line-height: 1;
              color: #fff;
            }
            &:last-child{
              background-color: #b86464;
            }
          }
        }
        &:hover{
          .comment_edit{
            display: block;
          }
        }
      }
    }
    @include tab {
      .comment_list{
        margin: 20px 0 12px;
        li{
          padding: 6px 8px;
          overflow: hidden;
          .comment_text{
            font-size: 1.5rem;
            margin-top: 4px;
          }
          .comment_edit_box{
            .edit_btn{
              position: absolute;
              top: 4px;
              right: 4px;
              background-color: rgba(255, 255, 255, 0.5);
              width: 32px;
              height: 32px;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 2px;
              border-radius: 2px;
              box-shadow: 0 0 8px rgba(86, 86, 86, 0.1);
              z-index: 4;
              span{
                background-color: #555;
                width: 3px;
                height: 3px;
                border-radius: 12px;
              }
            }
            .comment_edit{
              background-color: rgba(57, 57, 57, 0.2);
              display: none;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              right: 0;
              li{
                margin: 0 2%;
                width: 32%;
                opacity: 0.9;
                a{
                  padding: 8px 0;
                  font-size: 1.4rem;
                }
              }
            }
            #comment_edit_check:checked ~ .comment_edit{
              display: flex;
            }
          }
          
        }
      }
    }
    @include sp{
      position: relative;
      h3{
        font-size: 1.6rem;
      }
      #comment_form{
        .error-message{
          position: relative;
          top: auto;
          left: auto;
          font-size: 1.3rem;
        }
        .comment_inner{
          display: block;
        }
        textarea{
          padding: 6px;
          width: 100%;
          height: 64px;
          font-size: 1.4rem;
        }
        .field_with_errors{
          width: 100%;
        }
        .comment_submit{
          width: 40%;
          margin: 6px 0 0 60%;
          input{
            padding: 6px 0;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}