// ブレイクポイント
$pc: 1040px;
$tab: 1039px;
$sp: 699px;
// @mediaのフォーマット
@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: $tab) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

.shares_wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto 32px;
  @include tab{
    width: 96%;
  }
  @include sp {
    width: 94%;
    flex-direction: column-reverse;
  }
}

.shares_ttl{
  background-image: linear-gradient(to bottom, #424242, #424242);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
  margin: 40px auto 16px;
  text-align: center;
  span{
    background-color: #d6dfd6;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 8px;
  }
  @include tab {
    width: 96%;
  }
  @include sp {
    width: 94%;
    margin: 32px auto 12px;
    span{
      font-size: 1.8rem;
    }
  }
}

.shares_anch{
  background-color: rgba(255, 255, 255, 0.4);
  width: 80%;
  margin: 8px auto 16px;
  color: #1d945d;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 2px solid #1d945d;
  border-radius: 40px;
  padding: 6px 0;
  position: relative;
  &::before,&::after{
    content: '';
    background-color: #1d945d;
    width: 3px;
    height: 10px;
    border-radius: 3px;
    position: absolute;
  }
  &::before{
    top: 50%;
    right: 28px;
    transform: translateY(-50%) rotate(-45deg);
  }
  &::after{
    top: 50%;
    right: 23px;
    transform: translateY(-50%) rotate(45deg);
  }
}

.share_form{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  padding: 12px 24px 32px;
  width: 49%;
  .field{
    font-size: 1.5rem;
    margin-top: 16px;
    .form-list{
      width: 240px;
    }
  }
  .text_field{
    padding: 12px 16px;
    ._share{
      height: 100px;
    }
  }
  .btn1{
    margin-top: 24px;
    width: 64%;
    &.actions{
      font-size: 1.7rem;
      input{
        padding: 12px 0;
      }
    }
  }
  @include tab {
    border-radius: 12px;
    padding: 10px 16px 32px;
    width: 50%;
    .btn1{
      width: 80%;
      &.actions{
        font-size: 1.5rem;
        input{
          padding: 10px 0;
        }
      }
    }
  }
  @include sp {
    margin-top: 16px;
    width: 100%;
    .field{
      .file_btn{
        input[name="share[memo_files][]"]{
          font-size: 1.4rem;
          max-width: 100%;
        }
      }
      .text_field{
        padding: 12px 12px;
      }
      textarea{
        height: 88px;
      }
    }
  }
}


.person_hour,.person_hour_half{
  background-color: rgba( 255, 255, 255, 0.6);
  border-radius: 16px;
  max-height: 600px;
  overflow-y: scroll;
  .shares_list{
    width: 100%;
    li{
      background-color: #fff;
      width: 100%;
      margin: 8px 0 4px;
      padding: 16px;
      border: 2px solid #1d945d;
      border-radius: 8px;
      position: relative;
      .comment_edit{
        display: none;
        width: 140px;
        position: absolute;
        top: 2px;
        right: 8px;
        li{
          background-color: #888;
          border: none;
          border-radius: 4px;
          padding: 0;
          margin-bottom: 5px;
          margin-left: 8px;
          &:first-child{
            background-color: #b86464;
            margin-left: 0;
          }
          a{
            display: block;
            text-align: center;
            padding: 4px;
            font-size: 1.3rem;
            line-height: 1;
            color: #fff;
          }
        }
      }
      @include pc{
        &:hover{
          .comment_edit{
            display: flex;
          }
        }
      }
    }
  }
  @include tab {
    border-radius: 12px;
    .shares_list{
      li{
        padding: 8px 12px;
        overflow: hidden;
        .share_edit_box{
          .edit_btn{
            background-color: #1d945d;
            width: 28px;
            height: 28px;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            padding: 6px 0 6px 3px;
            border-radius: 0 0 0 6px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            z-index: 4;
            span{
              background-color: #fff;
              width: 3px;
              height: 3px;
              border-radius: 3px;
              position: relative;
              left: auto;
              top: auto;
            }
          }
          .comment_edit{
            display: none;
            background-color: rgba(156, 156, 156, 0.4);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            justify-content: center;
            align-items: center;
            li{
              background-color: rgba(136, 136, 136, 0.9);
              width: 32%;
              padding: 0;
              margin: 0 1%;
              &:first-child{
                background-color: rgba(184, 100, 100, 0.9);
              }
              a{
                padding: 8px 0;
              }
            }
          }
          input[type="checkbox"]:checked ~ .comment_edit{
            display: flex;
          }
        }
      }
    }
  }
}

.person_hour{
  width: 100%;
  padding: 40px 72px;
  .shares_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li{
      max-width: 456px;
    }
  }
  @include tab {
    padding: 24px 4%;
    .shares_list {
      li{
        max-width: 49%;
      }
    }
  }
  @include sp {
    .shares_list {
      li{
        max-width: 100%;
      }
    }
  }
}
.person_hour_half{
  width: 48%;
  padding: 40px 32px;
  .shares_list{
    li{
      width: 100%;
      padding: 8px 12px;
      border: 2px solid #1d945d;
    }
  }
  @include tab {
    padding: 32px 20px;
  }
  @include sp {
    width: 100%;
    padding: 24px 4%;
  }
}
.share_box{
  width: 100%;
  h4{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 12px;
    @include tab{
      font-size: 1.5rem;
      margin-bottom: 4px;
    }
    strong{
      font-size: 160%;
    }
  }
  .share_day{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    @include tab {
      font-size: 1.6rem;
    }
    .user-info{
      display: inline-block;
      margin-left: 12px;
      background-color: #1d945d;
      border-radius: 24px;
      font-size: 1.3rem;
      line-height: 1;
      font-weight: bold;
      a{
        display: inline-block;
        color: #fff;
        padding: 6px 8px 4px;
      }
      @include tab {
        margin-left: 10px;
      }
    }
  }
  .share_memo{
    margin-top: 4px;
    font-size: 1.5rem;
  }
  .share_file{
    margin-top: 8px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    li{
      margin: 0 0 0 8px;
      padding: 0;
      border: none;
      border-radius: 0;
      width: auto;
      max-width: 320px;
      font-size: 1.3rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      &:first-child{
        margin-left: 0;
      }
      a{
        width: 100%;
        img{
          width: 100%;
        }
      }
      @include sp {
        flex-shrink: 0;
        font-size: 1.2rem;
        min-width: 160px;
        max-width: 200px;
      }
    }
  }

}
