// ブレイクポイント
$pc: 1160px;
$tab: 1159px;
$sp: 639px;
// @mediaのフォーマット
@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: $tab) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: $sp) {
    @content;
  }
}

// -----------------------------------------
// マイページ画面
// -----------------------------------------
._mypage{
  padding: 40px 120px;
  min-height: calc(100vh - 164px);
}
@include tab {
  ._mypage{
    padding: 64px 20px;
  }
}
.mypage_btn{
  top: 80px;
  left: 24px;
  transform: translateY(0);
}
.profile_box{
  display: flex;
  align-items: center;
  .profile_img{
    flex-shrink: 1;
    width: 136px;
    height: 136px;
    border: #333 2px solid;
    margin-right: 16px;
    border-radius: 180px;
    background: no-repeat center/contain image-url('default_profile.png');
    overflow: hidden;
    img{
      background-color: #fff;
      width: 132px;
      height: 132px;
      object-fit: cover;
    }
  }
  section{
    width: 680px;
    position: relative;
    h3{
      font-size: 2.0rem;
      font-weight: bold;
      span{
        font-size: 80%;
        padding: 4px;
        background-color: #dc003e;
        color: #fff;
        &._designer{background-color: #f0b801;}
        &._engineer{background-color: #1379d0;}
      }
    }
    ul{
      position: absolute;
      top: 0;
      right: 0;
      width: 140px;
      li{
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        a{
          background-image: linear-gradient(to right, #777, #777);
          background-repeat: no-repeat;
          background-size: 0;
          color: #777;
          display: block;
          padding: 6px 0;
          border: 2px solid #777;
          border-radius: 20px;
          position: relative;
          transition: 0.3s;
          &::after{
            content: '';
            background-color: #777;
            position: absolute;
            top: 44%;
            right: 16px;
            transform: translateY(-50%);
            width: 2px;
            height: 8px;
            transform:rotate(45deg);
          }
          &::before{
            content: '';
            background-color: #777;
            position: absolute;
            top: 28%;
            right: 16px;
            transform: translateY(-50%);
            width: 2px;
            height: 8px;
            transform:rotate(-45deg);
          }
          &:hover{
            background-size: 100%;
            color: #fff;
            &::after{
              background-color: #fff;
            }
            &::before{
              background-color: #fff;
            }
          }
        }

      }
    }
    p{
      margin-top: 8px;
      font-size: 1.5rem;
      line-height: 1.5;
      min-height: 64px;
    }
  }
}
.profile_txt{
  margin: 8px 0 24px;
  text-align: left;
  font-size: 1.4rem;
}
.my_state{
  .slider{
    li{
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      h4{
        font-size: 2.4rem;
        font-weight: 600;
        margin-right: 12px;
      }
      .share_mylist{
        width: 100%;
        margin-top: 8px;
        li{
          list-style: disc;
          font-size: 1.6rem;
        }
      }
    }
  }
}
.average_box{
  display: flex;
  align-items: center;
  .average{
    width: 400px;
    height: 32px;
    margin-right: 12px;
    border: 2px solid #000;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    ._fill{
      width: 100%;
      height: 100%;
      background-color: #dc003e;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  p{
    color: #dc003e;
    font-size: 2.4rem;
    font-weight: 600;
  }
  .average_rate{
    &::after{
      content: '%';
    }
  }
  &._average40{
    .average{
      ._fill{
        background-color: #1379d0;
      }
    }
    p{color: #1379d0;}
  }
  &._average75{
    .average{
      ._fill{
        background-color: #1d945d;
      }
    }
    p{color: #1d945d;}
  }
  &._average99{
    .average{
      ._fill{
        background-color: #f1a101;
      }
    }
    p{color: #f1a101;}
  }
}
.links{
  background-color: #eaefea;
  border-radius: 16px;
  padding: 48px 40px;
  margin: 60px 0 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li{
    display: inline-block;
    a{
      background-image: linear-gradient(to bottom, #1d945d, #1d945d);
      background-repeat: no-repeat;
      background-size: 100% 2px;
      background-position: bottom;
      display: inline-block;
      padding: 12px 8px 12px 24px;
      color: #000;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      position: relative;
      transition: 0.3s;
      &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 6px;
        transform: translateY(-50%);
        width: 0;
        border-top: 6px solid transparent;
        border-left: 7px solid #1d945d;
        border-bottom: 6px solid transparent;
      }
      &:hover{
        background-size: 100% 100%;
        color: #fff;
        &::after{
          border-left: 7px solid #fff;
        }
      }
    }
  }
}
.other_users{
  background-image: linear-gradient(to right, #1d945d, #1d945d);
  background-repeat: no-repeat;
  background-size: 0;
  display: block;
  width: 64%;
  max-width: 280px;
  padding: 8px;
  border: 2px solid #1d945d;
  border-radius: 8px;
  margin: 24px auto 40px;
  color: #1d945d;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  &:hover{
    background-size: 100%;
    color: #fff;
  }
}
// -----------------------------------------
// 一覧画面
// -----------------------------------------
.member_all{
  font-size: 3.6rem;
  margin-bottom: 24px;
}
.member_ttl{
  font-size: 2.4rem;
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
}
.member_lists{
  margin-bottom: 32px;
  .member{
    font-size: 1.6rem;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .member_link{
      display: flex;
      align-items: center;
    }
    .profile_img{
      width: 48px;
      height: 48px;
      border: #333 1px solid;
      margin-right: 12px;
      border-radius: 80px;
      background: no-repeat center/contain image-url('default_profile.png');
      overflow: hidden;
      img{
        background-color: #fff;
        width: 46px;
        height: 46px;
        object-fit: cover;
      }
    }
    .member_name{
      margin-right: 12px;
      color: #000;
      position: relative;
      padding-right: 20px;
      &::after{
        content: '';
        background-color: #1d945d;
        position: absolute;
        top: 36%;
        right: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 8px;
        transform:rotate(45deg);
      }
      &::before{
        content: '';
        background-color: #1d945d;
        position: absolute;
        top: 10%;
        right: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 8px;
        transform:rotate(-45deg);
      }
    }
    .average_box{
      .average{
        width: 320px;
      }
      .average_rate{
        width: 56px;
      }
    }
  }
}
